[2020-05-05 22:10] Mooooore opened #2 "The new version is great, but how to jump after searching?"
Open yinote in the youtubey page, after searching for a bookmark, click the time node to always open the page from the beginning. Instead of jumping to the time. It should be like https://youtu.be/FrCIUS8vpGY?t=13

[2020-05-07 15:27] shuowu opened #4 "Firefox support"
- Modify dev and build scripts to support both chromium and firefox platform
- Fix Firefox compatibility issues
- Publish YiNote in [Firefox addons store](https://addons.mozilla.org/en-CA/firefox/)

[2020-05-07 22:54] #4 closed

[2020-05-08 02:08] shuowu opened #6 "Support export to Evernote"
- YiNote should let user create note in EverNote with screenshot properly attached.

- YiNote should sync between the extension and Evernote when export to evernote button been clicked.

[2020-05-08 04:11] Benature opened #7 "Support export to Notion"
Can the note be exported to Notion(<https://www.notion.so>) too?

Notion is another powerful note app like EverNote.

[2020-05-08 14:37] shuowu commented on #7
https://www.notion.so/Does-Notion-have-an-API-I-can-use-4541b07a5caa46dba0026624646118c0

Looks like they had plan to open developer api two years ago, but still not there yet. Please reopen this issue when Notion's developer api available.

[2020-05-08 14:37] #7 closed

[2020-05-08 17:18] shuowu opened #8 "Support embedly player"
YiNote should be able to auto detect embebly video in page, then initial player for embedly.

Ref: https://docs.embed.ly/docs/playerjs

[2020-05-08 23:33] #2 closed

[2020-05-08 23:33] shuowu commented on #2
This feature will be available in next release.

[2020-05-15 03:30] Benature opened #12 "Misbehaviour of key event"
1. the enter event maps to `save note` but also add an enter into note text.
eg: `|` indicates the cursor position when I enter
[code]
turns into
[code]
which is not I want.

Hope yi-note can, for example, discriminate <kbd>enter</kbd> and <kbd>enter</kbd> with decorate key, like <kbd>shift+enter</kbd> for `save note` and `add an enter into note text`.

2. On some websites, like <https://v.qq.com/

[2020-05-15 03:40] Benature opened #13 "malposition in option.html"
![image](https://user-images.githubusercontent.com/35028647/82008901-7def7400-96a0-11ea-8c0e-af8294aecca5.png)

when failing to get image, the SVG is in malposition.

[2020-05-15 03:53] shuowu opened #14 "Integrate with Google Docs"

[2020-05-15 03:54] shuowu opened #15 "Integrate with MS OneNote"

[2020-05-16 17:02] shuowu commented on #14
Resolved by 0d92f841b3209107d8f8a8dea05f9d7966d5b501

[2020-05-16 17:02] #14 closed

[2020-05-16 17:03] shuowu commented on #15
Resolved by 6bba8617d7bdf4bd6ecb6577e2f88d000210a8d5

[2020-05-16 17:03] #15 closed

[2020-05-16 19:19] shuowu commented on #6
Since no response come back from Evernote team to active the Oauth api token, currently Evernote integration will not be available in production.

[2020-05-23 16:09] #6 closed

[2020-05-24 01:21] shuowu opened #16 "Sync notes from coursera"
Flow:
- detect if there are notes in video page
- ask user for consent
- sync notes to YiNote

[2020-05-24 01:22] shuowu opened #17 "Sync notes from Udemy"
Flow:
- detect if there are notes in the video page
- ask user for consent
- sync notes to YiNote

[2020-05-24 01:25] shuowu opened #18 "Manage bookmarks with tags in options page"
* User should be able to add tags to bookmark
* User should be able to filter bookmarks by tags
* When multiple tags are selected, use `&&` logic to filter bookmarks.

[2020-05-24 01:39] shuowu commented on #12
@Benature `shift+enter` should be supported in YiNote editor. Also to view notes with proper lin break, you may need to expand note.

To answer your second question

I assume you mean press space key on the keyboard to pause the video.
From the design perspective, I tried to avoid hotkeys as much as possible, as I want YiNote to serve different platforms, but different platforms may have varied wa

[2020-05-24 02:00] shuowu opened #19 "Share YiNote"
Share YiNote to
* Facebook
* Twitter
* Copy link

[2020-05-24 02:17] shuowu opened #20 "Update website link in app"
Update link to `https://www.yinote.co/*`

[2020-05-24 02:27] shuowu opened #21 "Add hook to let website video player communicate with YiNote"
To support video websites that cannot be automatically supported by YiNote, YiNote should provide event hooks/interfaces to communicate with the native video player on the website, then developers can follow the hook to integrate the website with YiNote.

[2020-05-24 02:51] shuowu opened #22 "Integrate SlideShare Clipper into YiNote"
I developed SlideShare Clipper years ago, looks like both extensions share similar functionalities. It should be helpful to put two extensions together.

https://chrome.google.com/webstore/detail/slideshare-clipper/okaejpolmbadfbmnpnmdjdocdblgcija

[2020-05-24 03:23] shuowu commented on #12
Linked to wrong PR... Reopen

[2020-05-24 03:24] shuowu commented on #13
fixed in #23

[2020-05-24 03:24] #13 closed

[2020-05-24 09:47] kerryChen95 opened #24 "Function buttons missing if you add note by clicking confirm instead of tap enter"
![image](https://user-images.githubusercontent.com/1589388/82751023-f237bf00-9de6-11ea-896d-3accb0d1deea.png)

If you add note by clicking save instead of tap enter, as above, then panel look like below, function buttons missing!
![image](https://user-images.githubusercontent.com/1589388/82750924-527a3100-9de6-11ea-9d03-dafff15c7f4d.png)

Hope for fixing the bug early, thanks : )

[2020-05-24 10:55] kerryChen95 opened #25 "Hope for exporting to PDF"
Hope for exporting to PDF, so we can save into Evernote etc., and search from one entry.

[2020-05-24 14:02] shuowu commented on #25
@kerryChen95 Exporting to PDF (also support Chinese character) is available since v1.1.0, please check if you have latest version installed, or you can upgrade it manually from chrome://extension page.

Also directly exporting to Evernote will be available in next release. Please stay tuned :)

HowTO:
after you taking notes from YiNote panel, there will be a preview icon show up align with the boo

[2020-05-24 14:48] shuowu commented on #24
@kerryChen95 From the screenshots above, looks like you are also missing `Settings` button at the bottom of the panel, can you please check if you have the latest published version?
The latest version in the chrome web store is `v1.1.0`

[2020-05-24 15:22] #20 closed

[2020-05-24 18:23] #19 closed

[2020-05-25 13:28] GlennHodnett opened #29 "Exported PDF timestamps different to original timestamps"
[Stellor v Norbury Cup.pdf](https://github.com/shuowu/yi-note/files/4677369/Stellor.v.Norbury.Cup.pdf)
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Screenshots

## Specifications

- Extension Version:
- Browser:

[2020-05-25 16:40] #25 closed

[2020-05-25 20:38] shuowu commented on #29
@GlennHodnett Can you provide more details of this issue? I tried to generate pdf from the extension, but cannot reproduce the issue. It would be helpful if you can share a screenshot of timestamps in your extension, and show what's the difference with time generated in PDF.

[2020-05-26 03:19] GlennHodnett commented on #29
Hi, first of all it's a fantastic Chrome extension thanks. When I click on
the hyperlink time in the PDF file say at 0:38 it takes me to 1hr 6 mins
into the video. Also can the time be manually adjusted so say if a goal is
scored I can set it to play 10/15 secs before the event

On Mon, 25 May 2020, 21:39 Shuo Wu, <notifications@github.com> wrote:

[2020-05-26 23:41] shuowu opened #30 "Option for jump several seconds back when play video at noted timestamp"
Option should be provided in the Settings page.

[2020-05-26 23:44] shuowu commented on #29
@GlennHodnett Option for set jump back time is tracked here. #30

For this issue, it looks like auto-seek is broken for pdf link, I'll take a look.

[2020-05-27 03:17] GlennHodnett commented on #29
Thank you :)

[2020-05-27 20:46] GlennHodnett commented on #30
Cant seem to find it in the settings to alter the seconds

[2020-05-27 21:11] shuowu commented on #30
@GlennHodnett The ticket here is created to track the issue. It will be fixed in the next release, which should be v1.3.0

[2020-05-27 23:17] #16 closed

[2020-05-27 23:17] #29 closed

[2020-05-27 23:17] #30 closed

[2020-05-27 23:18] shuowu commented on #30
The issue will be fixed in new release v1.3.0.

[2020-05-27 23:18] shuowu commented on #29
The issue will be fixed in new release v1.3.0.

[2020-05-27 23:19] shuowu commented on #17
Resolved by https://github.com/shuowu/yi-note/commit/0b372d9fbcedda8843cbfaa9cf9ab2a20d462fd5

[2020-05-27 23:19] #17 closed

[2020-05-27 23:24] shuowu commented on #12
Close this issue as in the current implementation is `enter` for saving, `shift + enter` for adding a new line.

@Benature Please reopen this ticket if you have further questions.

[2020-05-27 23:24] #12 closed

[2020-05-28 02:31] #8 closed

[2020-05-28 04:42] #21 closed

[2020-05-30 04:53] GlennHodnett opened #33 "PDF time"
Hi
Thanks for fixing the issues so quickly with the update, can the altered times in the timeline be reflected in the exported PDF file. i.e I enter a event at 30 secs into the video and in YiNote when i click on the event it plays 5/10/15 secs before whatever i've set it to in the settings which is perfect but the exported PDF will play from 30secs and not play from the preset time.
I work with f

[2020-05-30 19:21] shuowu commented on #33
@GlennHodnett
Per applying preset to generate links, like links in pdf, Evernote, google docs, etc, I will consider adding another setting to handle it.

Per adding annotation on top of the video, it's a great suggestion, but I am not planning to add it to YiNote before proper design. Since YiNote can send your notes to other note taking platforms, like Evernote, Oneonte, Googledocs, with screensh

[2020-05-30 19:37] shuowu opened #34 "Add setting to apply time preset to generate links"
Setting should be provided in the options page to apply preset time to generated links in
* PDF
* Evernote
* OneNote
* Google Docs

[2020-05-30 19:38] shuowu opened #35 "Provide setting to customize screenshot resolution"
Provide setting in the options page to customize generated screenshots' resolution.

[2020-05-30 19:40] shuowu commented on #33
#34 #35 has been created. I hope these two features can help. @GlennHodnett

[2020-06-11 01:03] shuowu opened #37 "Investigate on converting notes to downloadable audio files"
As requested from user

[2020-06-11 01:11] shuowu commented on #24
@kerryChen95 Feel free to reopen this issue with version information if the bug still exist.

[2020-06-11 01:11] #24 closed

[2020-06-11 01:34] shuowu opened #38 "Support markdown in editor"

[2020-06-12 04:01] #18 closed

[2020-06-13 02:45] #35 closed

[2020-06-13 02:46] shuowu commented on #34
Resolved in 84efb5565e0acb01f99e08f43f999aa89a26b75c

[2020-06-13 02:46] #34 closed

[2020-06-15 11:19] zhenwei2972 opened #40 "Export to One Note functionality is broken"
**Describe the bug**
Got an error message when attempting to export to one note

**To Reproduce**
Authenticate with microsoft sign-in
attempt to send to one note
error occurs

**Expected behavior**
export succeeds

**Desktop (please complete the following information):**
 - Windows
 - Chrome
 - Latest

First time user

----
Would also like to thank you for making this amazing app!

[2020-06-15 14:20] shuowu commented on #40
@zhenwei2972 Thanks for reporting this issue. I tried the latest version of YiNote from chrome web store, but cannot reproduce the issue. Wondering are you build the extension from the code? If that's the case, you also need to set up your own OAuth2 application on MS Azure to make sure it allows the callback URL.

Also, it would be helpful to provide your current extension version if you installe

[2020-06-15 14:40] zhenwei2972 commented on #40
current installed version is v1.3.0, I am not building extension from code.
I am able to reproduce it anytime when trying to send notes to one not.
I suspect something wrong with the authentication? Not quite sure how I can re-login to Microsoft, maybe backup, uninstall and re-install?

[2020-06-15 14:48] shuowu commented on #40
Thanks for the detailed information, I’ll investigate on this issue. Meanwhile, if you are familiar with how to inspect extension’s storage(not browser localstorage), you can try to clear the access token of onenote, then try again.

[2020-06-15 14:58] zhenwei2972 commented on #40
thank you for the quick reply, let me know how I can help, with any diagnostic tests, I will try to install on my brother's computer too and see if i can reproduce. It is a great extension, will be sharing with all my friends!

[2020-06-15 20:46] DStar1 opened #41 "Share and export not visible with lots of text"
**Describe the bug**
When there is a lot of text in a note entry, there is an overflow, but no ability to scroll in the x direction, so no ability to see the export or share buttons.

**To Reproduce**
Type a lot of text in an entry for a note and behavior is reproducible.

**Expected behavior**
Should show share and export always.

**Screenshots**
If applicable, add screenshots to help explain you

[2020-06-16 01:02] shuowu commented on #40
@zhenwei2972
Firstly, send notes to OneNote is going through OAuth2 process and then call remote MS graph services, so I don't think deactivate other extensions can help.  Just want to make sure you have an OneNote account first, YiNote only can send notes to the existing OneNote account, but not create an account with MS account.

Then, YiNote is logging error in browser's dev console
https://git

[2020-06-16 05:28] zhenwei2972 commented on #40
I am unable to see any yi-note error logs on the console, even upon re-authenticating then sending to onenote.
Upon going to inspect views background page, there are multiple logs though, am attaching them in a screen shot here. chrome.storage.local.ste({onenote: {}}) seems to return undefined not quite sure why.
![image](https://user-images.githubusercontent.com/7851060/84734867-ab4b7c80-afd4-11e

[2020-06-17 01:54] shuowu opened #42 "Video is not detected when next video is auto played on Coursera."
YiNote should be able to detect video change on Coursera, then reload states.

[2020-06-17 02:11] shuowu commented on #40
@zhenwei2972 #42 has been created to track the Coursera issue.

Per the OneNote issue,  from the error message, it looks like the extension failed to make proper requests after one access token gets invalid. Wondering have you ever successfully send notes to Onenote, I suspect it's caused by a bug in accessToken renew logic. Also are you able to send notes after running the script in the console?

[2020-06-17 04:06] vicvan1990 opened #43 "Why Lost all notes after upgraded to YiNote v1.3.0?How can I find these note!!!?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-06-17 07:03] zhenwei2972 commented on #40
okay got it, thank you! will look forward to the release!

[2020-06-17 14:14] shuowu commented on #43
@vicvan1990 If chrome upgrades the extension automatically, migration script should be able to transform the notes to the newer format and also download two backup files, files name should be `yinote_storage_local_0.6.4.json` and `yinote_storage_sync_0.6.4.json`. Please also see [MIGRATION GUIDER](https://github.com/shuowu/yi-note/blob/master/MIGRATING.md) for more information.

But if you uninsta

[2020-06-17 15:58] mohamed-elwakil opened #44 "MS Stream Support"
Hello there,

I release video lessons to my students via MS Stream. I've tried using YiNote with it. I can take notes, but when I attempt playing a note, MS Stream shows an error message.  A screenshot is here: (user-images.githubusercontent.com/15691746/84920714-8b2dc300-b091-11ea-8cf9-e5181a1dc23c.JPG)

My use-case is that I will record notes to breakdown a video into smaller chunks, export the

[2020-06-17 23:26] vicvan1990 commented on #43
@shuowu
1).The extension automatically upgraded by chrome;
2).I can't find the files called  yinote_storage_local_0.6.4.json  and  yinote_storage_sync_0.6.4.json
 by searching my Mac;Could you tell me  the path of the two documents?
3).There are almost 80 bookmarks with notes in the old version, but now it only keeps the link with no notes of these bookmarks (only one bookmark with entire notes)
T

[2020-06-18 00:28] shuowu commented on #43
Sorry, I miss-spelled the file name, it should be `storage_local_0.6.4.json` and `storage_sync_0.6.4.json`. And by default chrome should download them in your /Downloads folder.

Another thing you can try is to check data in your extension storage by
1. go to `chrome://extensions` from chrome address bar
2. find YiNote extension, then open `background` page
3. In the popup chrome Devtool console,

[2020-06-18 01:58] shuowu commented on #44
@mohamed-elwakil Thanks for reporting the issue. I send you an email to asking for an MS testing account. Hopefully, you can provide one, then I can investigate on how to integrate with MS stream.

Also, per your use case, YiNote starts support sending notes to MS OneNote, Evernote, and Google doc since v1.3.0. I would suggest you and your students try those features out for sharing notes. Also, g

[2020-06-19 01:03] vicvan1990 commented on #43
<img width="752" alt="Xnip2020-06-19_08-52-12" src="https://user-images.githubusercontent.com/52686483/85085719-34e48f80-b20b-11ea-98bc-0ebc98d3b617.png">

[2020-06-19 01:14] vicvan1990 commented on #43
@shuowu
1.Still can‘t find these two files（storage_local_0.6.4.json and storage_sync_0.6.4.json）by searching my MacBook.
2.I ran the scripts , it only show the links of the websites but the notes are all lost.
<img width="752" alt="Xnip2020-06-19_09-10-09" src="https://user-images.githubusercontent.com/52686483/85086291-c30d4580-b20c-11ea-944e-5249fb4efd6a.png">
I need your help!Thank you so much.

[2020-06-19 01:30] shuowu commented on #43
Can you try check downloads files from `chrome://downloads`, there should be at least a record there, even you deleted files from the disk.
I should backup old data in a better way... sorry about that

[2020-06-19 02:57] vicvan1990 commented on #43
@shuowu
Only find out json document after 6/16/2020 which downloaded manually by myself and it still lost.Tried all the methods, are there any other methods to find out my notes ?Thank you !
<img width="1051" alt="Xnip2020-06-19_10-49-30" src="https://user-images.githubusercontent.com/52686483/85091863-079fdd80-b21b-11ea-986f-c1173a36949a.png">

[2020-06-19 03:01] vicvan1990 commented on #43
All the 80 bookmarks still keeps, just lost the notes and only one bookmarks with all the notes, which is very  confused.

[2020-06-19 03:25] shuowu commented on #43
YiNote will try to migrate the old data when upgrading from 0.6.4, and then back up old data in JSON files in case the data migration failed.
https://github.com/shuowu/yi-note/blob/master/extension/src/background/migrations/0.6.4.js#L77
But looks like there is a bug in the migration script, and it also failed to download backups in your case somehow (probably because chrome's ask permission for do

[2020-06-21 20:26] enlargedhousecats opened #45 "Text overscanning, losing notes"
![0H7atJ6rnT](https://user-images.githubusercontent.com/51523905/85234289-263fd900-b3c1-11ea-9072-fdfcaa2ebf76.gif)

I have encountered a pretty crucial issue with the interface of YI note.  version 1.3.0 from chrome web store.

text within the notes does not wrap to accommodate the size of Yi-note interface. There is no control to navigate from one end of the interface to the other, or to expand

[2020-06-22 16:17] shuowu commented on #45
@enlargedhousecats Thanks for the detailed reporting. I am currently working on markdown support on editing and view notes, it will be released soon in newer version 1.4.0. This issue will also be fixed in the next version. Please stay tuned.

Below is the preview of the new markdown editor (plain text notes will still be supported with no issue)
![Screen Shot 2020-06-22 at 12 15 10 PM](https://us

[2020-06-22 16:55] enlargedhousecats commented on #45
Thank you for the quick reply, This is a huge improvement! I am excited for version 1.4.0

[2020-06-23 13:56] shuowu commented on #45
v1.4.0 has been published in chrome web store, please update the extension and verify if the issue has been fixed.

[2020-06-23 13:56] #45 closed

[2020-06-23 13:57] shuowu commented on #41
v1.4.0 has been published in chrome web store, please update the extension and verify if the issue has been fixed.

[2020-06-23 13:57] #41 closed

[2020-06-23 13:57] shuowu commented on #38
Supported in v1.4.0

[2020-06-23 13:57] #38 closed

[2020-06-23 14:01] shuowu commented on #33
@GlennHodnett options have been added in the latest version v1.4.0. Also, annotate screenshot (not video) is also supported in v1.4.0. Please update the extension and verify how it works, thanks.

Close this issue.

[2020-06-23 14:01] #33 closed

[2020-06-23 14:01] shuowu commented on #40
v1.4.0 has been published in chrome web store, please update the extension and verify if the issue has been fixed.

[2020-06-23 14:01] #40 closed

[2020-06-23 14:05] shuowu commented on #42
@zhenwei2972 An option to reload tab when URL change has been added in the latest version 1.4.0. You can enable that option then add the domain, like coursera.org, you want to watch on. YiNote should be able to reload the tab when coursera's URL changes (play next video). Please update the extension and let me know if the issue has been fixed.

Close this ticket, please reopen if the issue still e

[2020-06-23 18:59] GlennHodnett commented on #33
Thank you love it!!! 😊  Sent from Mail for Windows 10 From: Shuo WuSent: 23 June 2020 15:01To: shuowu/yi-noteCc: GlennHodnett; MentionSubject: Re: [shuowu/yi-note] PDF time (#33) @GlennHodnett options have been added in the latest version v1.4.0. Also, annotate screenshot (not video) is also supported in v1.4.0. Please update the extension and verify how it works, thanks.Close this issue.—You are

[2020-06-24 18:12] shuowu opened #46 "Auto backup data in Google Drive"
### Background:
Currently YiNote only storage notes data in the browser's local storage, which may get lost by accident due to uninstallation or bugs introduced with a new release.

### Feature request:
* YiNote should be able to periodically sync notes data to users' cloud storage, like Google Drive.
* Sync should happen once a day.
* Cloud storages to support: Google drive.
* User should be able

[2020-06-24 18:14] shuowu commented on #43
@vicvan1990 Sorry again about the data lost. I have created a feature ticket ( #46 ) to add auto backup strategy into YiNote. Hopefully, it can help on your future usage.

[2020-06-24 18:17] #43 closed

[2020-06-25 06:52] zhenwei2972 commented on #40
Hi would like to verify that this has indeed been fixed! thank you!

[2020-06-25 06:56] zhenwei2972 commented on #42
Hi, i tried adding coursera.org and www.coursera.org, open and close the browser, with YiNote 1.4, it does not seem to perform the reload. might want to re-open?

[2020-06-25 13:19] shuowu commented on #42
@zhenwei2972 can u provide the coursera link that can reproduce the issue? thanks

[2020-06-25 15:39] zhenwei2972 commented on #42
Hi @shaowu I was doing the coursera course C++ for C programmers
https://www.coursera.org/learn/c-plus-plus-a/lecture/DmEwQ/3-8-print-chaining
You might need a registered account to test.
 I have also done a Steps Recording using windows 10 new "Steps Recording" software, you can open and view slide show, with screenshots and annotated repro steps
[reprosteps.zip](https://github.com/shuowu/yi-note

[2020-06-25 18:54] shuowu commented on #42
Looks like it need a bit investigation to reach a general solution for static URL reload ...
@zhenwei2972 For now I would suggest just reload the page when you want to take notes when URL change as a workaround.

[2020-06-25 19:08] shuowu commented on #42
wait, reload is even not needed. Reload is added mostly to handle issues here: https://github.com/shuowu/yi-note#faqs
In Coursera page, it should work properly by just resetting current UI states. https://github.com/shuowu/yi-note/blob/master/extension/src/ui/containers/App/index.js#L54

I thought it was already handled, will make the change in the next release.

[2020-06-26 02:36] zhenwei2972 commented on #42
alright, that works for me , thanks for investigating!

[2020-06-27 14:51] shuowu commented on #42
fixed in https://github.com/shuowu/yi-note/commit/fdbb06a8e7b2d66d5a3242877e99292919776fca

@zhenwei2972 please verify in latest version 1.4.1

[2020-06-27 16:35] zhenwei2972 commented on #42
Hi shuowu,

Apologies but the issue still persists, I have made a video trying to show the repro steps more clearly with voice over.
https://1drv.ms/v/s!Ap6TAbELY5u8h-Ny-F7Zy2RXG5xoyQ?e=meStN2

thanks for continually working on this issue!

[2020-06-27 16:43] shuowu commented on #42
@zhenwei2972 ic, the fix handled the notes states but not the player instance when url change. I’ll make another update soon.

Thanks for the repro video!

[2020-07-02 23:31] #42 closed

[2020-07-10 03:43] Faris999 opened #47 "Long word is wrapped into separate lines."
**Describe the bug**
A long word is wrapped into separate lines where it should be just put in one line.

**To Reproduce**
Steps to reproduce the behavior:
Type a long word

**Expected behavior**
It should be on just one line of it fits on its own.

**Screenshots**
Current Behavior:
![image](https://user-images.githubusercontent.com/28823677/87114029-c50d7600-c299-11ea-955c-e5051d85df0b.png)
Expec

[2020-07-10 16:32] mbairdgithub opened #48 "Not creating PDF"
When I click "Create PDF" nothing happens.

When I click create Google Doc it does stuff.

I need to download and share my notes with a client via pdf

Thank you!

[2020-07-10 17:00] shuowu commented on #48
@mbairdgithub I checked the latest version 1.5.0. Looks like it can generate the pdf and download it without issues.

Several things you can try:
1. make sure you have the latest version upgraded in chrome.
2. check in `chrome://settings` to see if there are any specific settings to block file download.
3. inspect the options page, see if there is any error log in dev console. (right-click the web

[2020-07-10 17:01] shuowu commented on #47
@Faris999 Thanks for reporting the issue. I'll fix it in the next update.

[2020-07-10 17:12] mbairdgithub commented on #48
I'm running on Chromebook

Your Chromebook is up to date
Version 83.0.4103.119 (Official Build) (64-bit)

YiNote v1.5.0

[2020-07-10 17:17] mbairdgithub commented on #48
Also tried on PC and same thing. V 1.5.0 of YiNote

[2020-07-10 17:19] mbairdgithub commented on #48
![Screenshot 2020-07-10 at 11 18 54 AM](https://user-images.githubusercontent.com/68121284/87181265-3f8cc480-c29f-11ea-9689-7299a97c7526.png)

[2020-07-10 17:21] shuowu commented on #48
Can you right-click on this page, then click `Inspect` to see if there is any error log?

[2020-07-10 17:22] shuowu commented on #48
And also check you downloads folder (I am sure the exact name for your OS), the file might be downloaded silently into the downloads folder.

[2020-07-10 17:23] mbairdgithub commented on #48
DevTools failed to load SourceMap: Could not load content for chrome-extension://fhpgggnmdlmekfdpkdgeiccfkignhkdf/vendors/browser-polyfill.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
DevTools failed to load SourceMap: Could not load content for chrome-extension://fhpgggnmdlmekfdpkdgeiccfkignhkdf/popper.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

[2020-07-10 17:25] shuowu commented on #48
These errors should not matter.

[2020-07-10 17:25] mbairdgithub commented on #48
Was able to download as .json Not sure what that is or what I can do with it.

[2020-07-10 17:27] mbairdgithub commented on #48
Uncaught (in promise) TypeError: Cannot read property 'split' of undefined
    at Object.H.splitTextToSize (options.js:35136)
    at PDFGenerator._callee$ (options.js:25681)
    at tryCatch (options.js:56794)
    at Generator.invoke [as _invoke] (options.js:57023)
    at Generator.prototype.<computed> [as next] (options.js:56846)
    at asyncGeneratorStep (options.js:2799)
    at _next (options.js

[2020-07-10 17:28] shuowu commented on #48
The exported json file can be used as data backup, or share with others so they can import data to the extension. If the pdf button cannot work for you, one workaround can be send notes to OneNote or Evernote, then generate PDF from there. (print -> export as pdf)

[2020-07-10 17:29] shuowu commented on #48
This error might be the issue, I'll look into it. Thanks for reporting the bug!

[2020-07-10 17:30] mbairdgithub commented on #48
I love the idea of your app. Could be very helpful for me if I can make it work.

THANK YOU.

Stay Safe

[2020-07-10 17:32] mbairdgithub commented on #48
Error when I tried sending to EverNote

[@yi-note/extension:options:containers:Page:Toolbar:index] ThriftException
invokeConsoleMethod @ options.js:350
options.js:350 [@yi-note/extension:options:containers:Page:Toolbar:index] ThriftException

[2020-07-10 17:35] shuowu commented on #48
@mbairdgithub  can you do me a favor? Export the page you have issue with generating pdf from bookmarks page?

Steps:
1. click `Bookmarks` from left panel
2. choose `select bookmarks to export` from top right corner. Then select the page to export.
3. share the json file here or send to my email (wushuo2010@gmail.com)

[@yi-note/extension:options:containers:Page:Toolbar:index] ThriftException
invo

[2020-07-10 17:42] mbairdgithub commented on #48
Just emailed it to you

[2020-07-10 17:42] mbairdgithub commented on #48
Any idea when I want to check back and try it again?

[2020-07-10 17:45] shuowu commented on #48
I'll update in this issue thread when there are any updates. You should be emailed with the update by GitHub.

[2020-07-10 17:56] mbairdgithub commented on #48
Thank you!

[2020-07-10 22:25] shuowu opened #49 "Exported data cannot be import"
Currently, import only supports data exported from v1.0.0. All versions above v1.0.0 should be supported.

[2020-07-10 23:09] #48 closed

[2020-07-10 23:09] #47 closed

[2020-07-10 23:09] #49 closed

[2020-07-10 23:16] shuowu commented on #48
@mbairdgithub fix will be available in v1.5.1

[2020-07-10 23:16] shuowu commented on #47
@Faris999 Fix will be available in v1.5.1

[2020-07-11 01:19] mbairdgithub commented on #48
When will that be available? Sorry I need to use this for a project? I
really need some idea of when to expect it.

THANK YOU

On Fri, Jul 10, 2020 at 5:16 PM Shuo Wu <notifications@github.com> wrote:

[2020-07-11 16:16] shuowu opened #50 "Failed to send notes to googledocs when missing title or description"
**Describe the bug**
Failed to send notes to google docs when missing title or description

**Version**
1.5.1

[2020-07-12 08:29] tomasdore opened #51 "Title and link are taken from the first video that was played in that tab."
Works perfectly for first video played: title and links are correct in the notes created. But any **further** videos played _in that tab_ then still use the **same** title and URL (from the first video) for their notes; so their notes therefore contain the wrong title and wrong links.

[2020-07-12 08:41] tomasdore commented on #51
Sorry, I see that you have this in the FAQ. So maybe you are aware of this issue already. Perhaps the FAQ can mention that it also applies to the links (on the timecodes).

_"Why I bookmarked same title and thumbnail for different videos on Youtube?
Youtube don't update page metas, like title and thumbnails, when video changed in page. So reload page is needed to make sure YiNote can capture prope

[2020-07-12 08:49] tomasdore commented on #51
But setting "Reload tab when url change" is not fixing the issue for me. I have to manually open a new tab for each new video. I am testing on https://www.youtube.com/watch?v=pNp8Qf20-sA&list=PLiaHhY2iBX9g6KIvZ_703G3KJXapKkNaF&index=10

[2020-07-12 11:32] shuowu commented on #51
@tomasdore Did you also add domain ‘www.youtube.com’?

[2020-07-12 18:48] shuowu opened #52 "[Extension] Use web component to keep extension widget styles consistence cross different web pages"

[2020-07-12 18:58] tomasdore commented on #51
No, sorry, I am only seeing, or understanding this now:

 _Page domain, like www.youtube.com, need to be added when enable this setting. YiNote only applys reload behaviour to listed domains in the settings page._

Thanks for your response! Sorry for report with information you know about!

[2020-07-12 18:58] #51 closed

[2020-07-13 01:11] Faris999 commented on #47
Thanks!

[2020-07-13 03:49] shuowu commented on #50
Fixed in 5354df9c95edcad24702dbddff8f260d0c479a6b

[2020-07-13 03:49] #50 closed

[2020-07-16 17:56] GlennHodnett opened #53 "All Notes are set to 00:00 in timeline"
When i enter a highlight it sets at 00:00 as opposed to where it should be in the timeline

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If appli

[2020-07-16 19:48] shuowu commented on #53
@GlennHodnett Thanks for reporting this issue. A fix version (1.5.3) has been submitted for review, should be available in chrome web store in next 24hrs.

[2020-07-16 20:22] GlennHodnett commented on #53
No problem, thank you

On Thu, 16 Jul 2020, 20:48 Shuo Wu, <notifications@github.com> wrote:

[2020-07-17 15:09] #53 closed

[2020-07-22 05:51] Faris999 opened #54 "Words sometimes gets cut out in the note preview"
Words sometimes get cut out in the note preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Write the sentence "This is an example of a lorem ipsum long sentence."

The word "sentence" gets cut out.

**Expected behavior**
The word sentence should be on another line.

**Screenshots**
![image](https://user-images.githubusercontent.com/28823677/88139343-b750dc80-cc19-11ea-9d9b-b266fc699578

[2020-07-23 21:43] enlargedhousecats opened #55 "YiNote bookmarks are mislabeled when bookmarking youtube video from playlist"
![image](https://user-images.githubusercontent.com/51523905/88341253-239f0f00-ccf2-11ea-8148-9c5c6b001567.png)

When making notes of a video that was arrived to as a part of a playlist, YiNote records only the first video's name, and will only link to the first video when clicking on the bookmark.

![image](https://user-images.githubusercontent.com/51523905/88341358-521cea00-ccf2-11ea-80d7-c90cfc3

[2020-07-23 22:39] shuowu commented on #55
@enlargedhousecats Does the following faqs help?
https://github.com/shuowu/yi-note#faqs

[2020-07-23 22:45] shuowu commented on #55
Also, it would make sense to put a reload button in the extension to correct existing bookmarks.

[2020-07-30 12:27] brickmaker opened #56 "Save button、"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-01 16:34] shuowu commented on #56
@brickmaker Thanks for reporting the issue.
I think a customizable solution would make sense to avoid key comb conflict in the host page. I'll look into a proper solution.

[2020-08-03 14:04] gmmazza opened #57 "Add visual bookmarks in the timeline"
I found another extension, https://chrome.google.com/webstore/detail/smart-bookmarks-for-youtu/ichpfnleoiponjidhcbieonjdpnallmh

That adds cues in the timeline of the video for the bookmarks, and also shortcuts to jump to before and after bookmarks in the video timeline.
I found that very useful and could be implemented in yinotes.

[2020-08-03 18:48] shuowu commented on #57
@gmmazza Thanks for the suggestion!Unfortunately, I am not planning to add features like this to YiNote as it will introduce tremendous maintenance work, like support it for platforms other than youtube, keep making changes if the host page (youtube or other platforms) change any selector rules on page.

Also, as the YiNote is an open source project, you can always fork the repo, then make customi

[2020-08-04 13:38] gmmazza commented on #57
Thank you Shuowu. Is totally understandable. Great work with this!. Thanks for your development.

[2020-08-04 13:42] gmmazza commented on #56
I second this!

[2020-08-04 13:46] gmmazza opened #58 "add tag in the video window"
Sometimes I add a video to bookmark to watch it and annotate later.
Could be great to add the tags from the add notes, also to get a pulldown menu from the already added tags to prevent duplicates of mispelled or caps tags.

[2020-08-08 11:58] tomasdore commented on #55
I had a similar problem, [posted](https://github.com/shuowu/yi-note/issues/51) which I thought was a 'bug' until I found that those FAQs solved it.
But maybe the problem will repeat for every new person, because YouTube is so popular. So.... is it possible to make this setting on by default? So the setting 'reload page' would be on, and the YouTube page domain would already be added by default.
I

[2020-08-08 12:09] tomasdore opened #59 "Maintain the structure from the markdown"
**Is your feature request related to a problem? Please describe.**
I use Yi-Note to create notes, using Markdown. So I might use a header. Or make bullet points. This is good: it provides structure and it works, in that note. But then when I finish a playlist, I want to put my notes together, into a document that I can use to keep my knowledge. So I export the notes. But after export, I don't have

[2020-08-08 12:21] shuowu commented on #55
@tomasdore thanks for the suggestion! The idea is I don't want the extension silently change how the hosted page works. In the future ,  i may try give user some feedback message to aware this issue when user firstly start a youtube video with yinote. Then user can decide to turn the setting on or not.

[2020-08-08 12:32] shuowu commented on #59
Good idea! I'll add a setting to retain markdowns when export.
During development, i found its too much work to support markdown in all export formats (ms oneonte probably can be supported without too much effort), but still think it's helpful to have it in the editor.

I am also planning to turn yinote into a web app with simple cloud support. Then viewing styled notes cross different devices wou

[2020-08-23 03:32] Faris999 opened #60 "Embed Screenshot on Google Docs Instead of Hyperlinking It"
When I export to Google Docs, the screenshots are uploaded into a separate folder and linked to Google Docs. It would've been better if the screenshots are embedded directly in the document. Alternatively, there could've been an option to choose whether or not the image will be embedded.

[2020-08-26 01:11] shuowu commented on #60
I was planning to implement as what you described in this issue. But failed to find proper google docs api for that..

As the generated doc is still editable, you can add the screenshots manually if needed.

[2020-08-26 02:12] Faris999 commented on #60
How about [this](https://developers.google.com/docs/api/how-tos/images)? Can it help?

[2020-08-26 02:25] shuowu commented on #60
I remember I did some investigation on this page. iirc, google drive cannot be used as a cdn to serve images, and there is no public api to support inserting base64 encoded image. So I don't see an easy way to get the image inserted into the doc.

It should be doable after proper cloud support.

[2020-09-12 01:28] zzxbisheng opened #61 "Could you please add“ bilibili.com" and "https://open.163.com/" to the supported player?"
Could you please add“ bilibili.com" and "https://open.163.com/" to the supported player?
Here is the introduction:https://en.wikipedia.org/wiki/Bilibili
BiliBili is a very popular video website in China, with many users using it.
There are a lot of people in China who want to take notes on videos of these two websites with our Yi-note plug-in, even if we needs to buy VIP!
Thanks a lot!

[2020-09-24 06:44] zhenwei2972 opened #63 "Could you add Zoom recording support"
The screenshot of video at timestamp does not work for zoom video recording(web)

Can there be support for zoom video recording?

Thank you

[2020-10-04 21:13] louis78100 opened #64 "Shortcut"
Is it possible to have a shortcut to be able to start writing a note?
When you are watching a video in full screen, it's actually quite annoying to click on the extension, and it takes half the screen.
A quick way to add a note will be more convenient (like how this extension does it :  https://bookmark-it.happydevelopers.co/, you just have to press the "b" key to be able to add quickly a note. )

[2020-10-08 09:36] arkabayev opened #65 "reference video"
when youtube automatically switched to next video i took notes for this video, but yinote related my notes to previous video

[2020-10-09 01:10] shuowu commented on #65
please see readme#faqs

[2020-10-09 01:17] shuowu commented on #61
I did some quick test on both sites, looks like they are both supported by current version of YiNote(1.5.3).
Can you share the specific video/url that not work?

[2020-10-11 03:16] zzxbisheng opened #66 "Could you please add the 'screen capture resolution setting' function and buttons on the browser page？"
1.Could you please add the 'screen capture resolution setting' function?
Each screen capture is not clear enough,so I think it is necessary to add the 'screen capture resolution setting' function.
2.Could you please add buttons on the browser page and shortcut keys,because it's not very convenient to click the button on the plug-in toolbar.
Just like the diigo plugin.In the following figure, the D

[2020-10-11 03:17] zzxbisheng commented on #61
I was negligent, the problem has been solved, thank you!

[2020-10-11 03:17] #61 closed

[2020-10-11 14:29] zzxbisheng commented on #66
I think it's also necessary to add categories for notes and to be able to classify them by web address!

[2020-10-22 12:04] pranavdeshai23 opened #67 "Sign in with Google temporarily disabled for this app"
**Describe the bug**
When trying to send my notes to Google Docs, a pop-up window appears with a warning error - "Sign in with google temporarily disabled for this app."

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Send notes to Google Docs'
2. Enter the mail id and password for my Google account
3. See error

**Expected behavior**
To be able to sign in and sync my notes to Goog

[2020-10-23 02:52] marciovenicio commented on #59
I have the same problem. Including, I started using your app because of it. I intend to export the notes to Obsidian, so, it is crucial that works.

[2020-10-24 02:56] DryIce1 commented on #59
I would love this feature too.

is it possible to export the MD formatting to a downloadable plain text / MD file?

thanks

[2020-10-25 18:06] yeders commented on #67
also, the sync to onenote also is captured into a loop

[2020-10-31 03:06] marciovenicio commented on #67
I'm having the same problem.

[2020-11-09 13:46] Benature opened #68 "Notes disappear in the video page"
**Describe the bug**
I have written some notes on the v.qq.com page, then I click the `Manage notes in options page`, when I go back to the video page, I found the notes disappear.

After refreshing the pages, I still cannot find the notes on the video page, but I can find the notes on the options page.

**Screenshots**
![image](https://user-images.githubusercontent.com/35028647/98548726-cea0fc00-

[2020-11-12 11:23] liutiming opened #69 "add on is not available on firefox store"
hi thank you for this awesome add-on!

currently add on is not available on firefox store :(

https://addons.mozilla.org/en-CA/firefox/addon/yinote/

[2020-11-13 05:57] #65 closed

[2020-11-13 06:00] shuowu commented on #67
Thanks for reporting the issue! I’ll look into a solution for it.

[2020-11-13 06:06] shuowu commented on #68
YiNote links notes by url with the video. I suspect some parts of the url has been changed when you revisit the video page, like query.
Can you try redirect back to the video from the options page? it should lead you back to the original url.

[2020-11-13 06:07] shuowu commented on #69
Thanks for reporting the issue! I’ll republish it on firefox store soon.

[2020-11-13 06:10] shuowu commented on #66
Can you try using tags to manage the notes? It’s available in the current version.

[2020-11-13 06:11] shuowu commented on #63
Thanks for the submitting the feature request! I’ll look into a solution for it.

[2020-11-13 06:13] #60 closed

[2020-11-13 06:15] Benature commented on #68
Yes, you are right, the problem is about the url.

When I click the timestamp on the options page, it jumps to URL with `?yinotetimestamp=xxx`, on this page I can not find my notes.

![image](https://user-images.githubusercontent.com/35028647/99035319-61ce8000-25ba-11eb-8d29-df343dcfd76c.png)

But when I delete the query(`?yinotetimestamp=xxx`) and refresh, my notes appear.

![image](https://user-

[2020-11-13 06:18] shuowu commented on #68
then it looks like a bug from the extension😄 it should properly handle the query by itself..

[2020-11-16 21:15] filipgoc commented on #59
Another 👍  Yes! Markdown export.

- One option is to allow copying the markdown into clipboard. This would be the most convenient I think as many people would then paste it into their long storage (notion, obsidian, zettelkasten, roam... (other than onenote or evernote or gdocs)
- Or download a markdown plain text file.

[2020-11-18 15:06] SS2974 commented on #67
Hi, the issue is still unresolved,

[2020-11-18 17:32] yeders commented on #67
Yes, do you know if you're able to get onenote working?
I wasn't able to get onenote working.

Better yet, can I export it in markdown?

On Thu, Nov 19, 2020 at 2:07 AM SS2974 <notifications@github.com> wrote:

[2020-11-19 03:39] shuowu commented on #67
@yeders The OneNote issue has been fixed in v1.5.4. It should be available in the chrome web store now.

[2020-11-19 08:08] dekart commented on #59
Exporting notes as a text file with Markdown markup would be awesome indeed!

[2020-11-20 11:10] XinchaoGou opened #70 "Could I change the tile of bookmarks?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I want to be able to change and set the tile of existing bookkmarks. Because sometims I get bookmarks without tile.

**Describe alternatives you've considered**

**Additional context**
Sometims I get bookmarks without tile like the picture below.
![image](https://user-images.githubusercontent.c

[2020-11-23 14:07] XinchaoGou opened #71 "Bug by www.bilibili.com"
URLs of videos on [www.bilibili.com](https://www.bilibili.com/video/BV1zx411g7gq?p=5) are wrong.
For example, all the URLs generated by yi-note will open the first lecture and the timestamps are also invalid.

[2020-11-26 22:33] shuowu commented on #71
@XinchaoGou It looks like a similar issue with the youtube playlist. Can you try if the following solution works? https://github.com/shuowu/yi-note#why-i-bookmarked-same-title-and-thumbnail-for-different-videos-on-youtube

[2020-11-27 04:52] shuowu commented on #59
Export markdown file is supported in v1.6.0 (https://github.com/shuowu/yi-note/releases/tag/1.6.0). The new version has been submitted to chrome web store for review, it will be available and auto-upgrade in chrome in the next few hours.

Close this issue for now.

[2020-11-27 04:52] #59 closed

[2020-11-27 17:08] #22 closed

[2020-11-29 00:31] shuowu commented on #67
I submitted the google APIs OAuth consent for review, the google docs integration should be unblocked when the app is verified by google. The process would probably take 4- 6 weeks.

[2020-11-29 13:28] XinchaoGou commented on #71
Sorry. I've tried your solution. but it didn't work. If I choose which lecture to play, it will work and all the notes about that lecture are just there. But from the generated URLs I can't open the correct lecture directly. All the generated URLs just jump to the beginning of the first lecture of the list.

[2020-12-07 21:57] liutiming commented on #69
sadly still not available. is there anything i can do to help?

[2020-12-08 00:36] shuowu commented on #69
@liutiming Thanks for pinging me on the issue!
should be available now. https://addons.mozilla.org/en-US/firefox/addon/yinote/

[2020-12-08 02:59] SS2974 commented on #67
Thanks for letting me know.

On Sun, 29 Nov 2020 at 06:02, Shuo Wu <notifications@github.com> wrote:

[2020-12-08 09:34] liutiming commented on #69
thank you!

[2020-12-08 09:34] #69 closed

[2020-12-08 09:35] liutiming commented on #64
on a related note it will be fab to save note with ctrl + enter or something similar?

[2020-12-08 09:40] liutiming opened #72 "Template for export as markdown"
Thanks for supporting markdown export!

Something similar to https://getmemex.com/ to customize markdown export format.

This may also be helpful for the roadmap where web note taking was intended to be added. The Memex add on has been quite good for webpage note taking so I guess we can focus on Video note taking at YiNote?

There is a tool called ReClipped note on Chrome and it supports timestam

[2020-12-11 17:19] WildGenius opened #73 "Dark/night mode"
Would be lovely to have the option to switch to a whitish text on a darkish background. I'm quite used to using Dark Reader or Stylus to darken the web, so the stark white of YiNote is quite the contrast.

[2020-12-11 18:26] cristianvasquez commented on #72
Hello,

How do you export markdown? I cannot find how to do it in the Firefox extension

[2020-12-13 11:20] liutiming commented on #72
It is available as an option in the gear setting 😊

From: Cristian Vasquez <notifications@github.com>
Sent: 11 December 2020 18:27
To: shuowu/yi-note <yi-note@noreply.github.com>
Cc: Timing Liu <liutiming@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [shuowu/yi-note] Template for export as markdown (#72)

Hello,

How do you export markdown? I cannot find how to do it in the Firefox

[2020-12-18 14:41] Henokaa opened #75 "Help me understand pls"

[2020-12-20 15:09] JanaHoe opened #76 "No Connection with GoogleDoc/ One Note"
Hey hopefully someone can help me to fix this:
I can not send my notes from YiNote to GoogleDocs or OneNote
How can I fix this?

Thank you!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to

[2020-12-23 12:57] yuis-ice opened #77 "Stuck on "Support YiNote in your website,""
I'm trying to do "Support YiNote in your website" as the README.md.  On the website I wanted to enable yi-note, I firstly edited the video html tag and added `data-yinote="yinote-hook-player"` attribute from chrome developer console. But I cannot get it well about "Add message listener to watch on video action messages from YiNote" `window.addEventListener('message', event =>...` JavaScript code,

[2020-12-23 14:50] Monophonic1983 commented on #76
I have encountered with the same problem bro.

[2020-12-23 18:23] liutiming opened #78 "how to generate manifest.json"
Hi I am quite new to extension development but I am willing to provide some functionalities where I can. The repo did not come with a manifest.json. How can we produce one for testing? Thanks a lot!

[2020-12-24 00:55] shuowu commented on #78
Thanks for your interest in contributing to this project! This repo is a js monorepo managed by lerna, you can find extension related code under packages/extension.

Per how manifest.json is generated, check webpack files under the extension folder.

[2020-12-26 11:21] snowflax commented on #68
I've got the same problem. Any ETA for when it will be solved?

Merry X-mas 🎅

[2020-12-28 18:35] 5A9RSG0S6u0HNDkwpRw opened #79 "JSON export also exports deleted video bookmarks/notes"
Hi,

Thanks very much for your work. Great video extension

I noticed that the JSON export also exports deleted bookmarks.

After exporting I noticed a few duplicates which seems to be either deleted/modified notes.

As temporary solution, do you know if there is a way to identify within the JSON which bookmarks have been deleted or would I need to go back through each video manually and remove th

[2021-01-27 10:00] BaselQq commented on #76
Me too

[2021-02-05 08:52] Braweria opened #83 "To view my notes in markdown before download"
**Is your feature request related to a problem? Please describe.**
I know there is a way to download my notes as Markdown, but I would love to view my notes in markdown as well. This way I have more control before download or I could just easily copy my text and paste it where I want it instead.

**Describe the solution you'd like**
To view my notes in Markdown.

**Describe alternatives you've con

[2021-02-08 19:38] golflabel opened #84 "Markdown Export Creating HTML Files, Not Markdown"
**Bug description**
"Export Markdown" option exports HTML instead of Markdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Click "Export Markdown" option.

**Expected behavior**
A properly Markdown-formatted file would be saved.

**Screenshots**
After taking notes on any given video in YiNote, I click here:
<img width="338" alt="ScreenShot 2021-02-08 at 12 31 55@2x" src="https://user-ima

[2021-02-23 13:08] 5A9RSG0S6u0HNDkwpRw commented on #79
Hi, I haven't been able to reproduce this and have deleted notes then exported JSON files without any problems.

The original scenario had lots of bookmarks and chrome tabs open, I was also using the export and clear/export options a lot from the settings page so maybe that caused some corrupt data at the time.

Both versions of the JSON export file have v1.6.0 so I don't think there have been any

[2021-02-23 13:08] #79 closed

[2021-03-03 02:49] HananoshikaYomaru opened #85 "Missing script : bootstrap"
Hello, @shuowu. First I want to thank you for this amazing browser extension for students. I am trying to add my own features to the extension but I am not familiar with Lerna.

When I run `npm run bootstrap`, I see the following :

[code]

There is no such script in package.json named `bootstrap`. I wonder how can I solve this.

[2021-03-03 03:02] shuowu commented on #85
I recently switched from lerna to yarn workspace (looks like i forgot to update the readme , sorry about that...)

You can run 'yarn install' under the root directory, then 'yarn start:ext' to start the extension development.

[2021-03-04 14:54] HananoshikaYomaru commented on #85
Oh thx. Hope you have time to update the document in the next commit. Keep up the good work. : )

[2021-03-07 10:03] vts3rss opened #86 "Save button shortcut"
Thanks for the great extension. Can you add a shortcut for the save button? More precisely, so that you can assign it yourself in the chrome extension settings. Thank you. Apologies for my English, I'm not a native English speaker

[2021-03-19 10:44] NerdyJarz opened #87 "The Video links use the comment syntax"
**Is your feature request related to a problem? Please describe.**
Your extension is overall pretty awesome but its just the annoying fact i need to remove all the comment syntax (<--!, -->) from each individual link which gets really tedious.

**Describe the solution you'd like**
To be able to import without my links being invisible then having to remove the syntax.

[2021-03-19 14:28] DSanchez135 opened #88 "Yinote Bookmarks Wrong Page"
**Describe the bug**
Whenever I make a note with Yinote extension, the bookmarked URL is different from the video took the note on. Often, it is a previously visited page.

**Expected behavior**
I expected that whatever video I make note for, the corresponding timestamp hyperlink will take me to that video.

**Browser (please complete the following information):**
 Google Chrome (latest version)

[2021-03-31 07:59] yitiantian520 commented on #76
Yeah, same here.
Had to use Evernote as an alternative.

[2021-04-01 04:35] link-ding opened #89 "Where is the local location of Yinote note"
For some reason I want to create a workflow to import some data to Yinote. I only find the import button in option setting page. What I want to do is find the local location where I can import a json file and the note can show in Yinote

[2021-04-01 07:33] yitiantian520 commented on #76
Try export to Evernote? Or copy and paste to Google docs...

[2021-04-02 18:39] RomyTheBoy commented on #76
I don't use Evernote((( Is there really no way to export in googlr docs without copying? This is inconvenient (((((((

[2021-04-15 05:18] sebastian-muthwill commented on #84
It seems that in version v1.6.0 in the Chrome extension the behavior is slightly different. Here the exported markdown file doesn´t contain the `<p>` tags but still has commented out the time stamp links.

## current behavior

[code]

this causes markdown preview to threat this as a comment, and it will not be shown.

## proposed solution

removing the comment part ``````from the markdown export

[2021-04-15 05:23] sebastian-muthwill commented on #83
The issue with commented out time stams is also addressed in #84.

I fully support your request to have to possibility to copy the markdown either directly into the clipboard or to have a possibility to view the notes in markdown format.

[2021-04-17 22:05] plandrem commented on #88
I just witnessed a similar behavior - I think in my case, I had finished one video in a playlist and started taking notes on the second video, but the bookmarks link to the corresponding time in the first video.

[2021-04-22 03:51] sebastian-muthwill commented on #87
Which download method are you referring to?
For markdown there is already an issue #84

[2021-05-01 16:31] okerivy opened #91 "👋Have an option of adding images to each timestamp note"
I would like to have the option of adding images to each timestamp note.
Because the picture is **too big.**

I just took notes on 5 videos, and the exported JSON size is 9M.
There isn't much text, mainly because the pictures take up too much space.

So you want to be able to pick and choose screenshots instead of having to take a screenshot at every timestamp.
😁 Thank you!

[2021-05-02 16:25] DiaLange opened #92 "Can't access note screen"
When I click on the Yinote extension to take notes on a video, it just opens teh Yinote management page, no matter what I do. I can't get it to open the notes screen to take notes. I am using a macbook air using High Sierra.
![Screen Shot 2021-05-02 at 11 25 19 AM](https://user-images.githubusercontent.com/83548425/116820151-1e9ca500-ab39-11eb-8e9c-5a1ccaa01703.png)

[2021-05-03 05:05] okerivy commented on #91
I think there is another area that could be improved:
switching the `Cancel button` and the `Save button`,
because most of the time, we want to save directly.

You can usually save by pressing the `Tab` key, so just pressing the Tab key once,
if you put the save button at the end, we need to press the Tab key twice.

[2021-05-03 05:55] okerivy commented on #91
The other thing that you can optimize is that we can expand all your notes directly on the current page.
I can only see the title right now, If I want to expand, I have to click on it one by one。
I want to have a button or a shortcut that expands everything.

[2021-05-03 12:32] sahilgupta8911 commented on #92
Hey, were you able to resolve?

[2021-05-03 13:41] DiaLange commented on #92
No. Am I doing something wrong? I have a youtube video opened, and then I click on the extension. Is there something else I'm supposed to do? I watched someone demonstrate it online and that is all they did, but when I do that, I just get the Yinote management page as shown in my picture.

[2021-05-03 14:51] okerivy opened #93 "Bilibili Cannot see the old notes"
After taking notes on the `Bilibili` website, if you close your browser and then open it again, open the old video address and open Yinote, you will not see the old notes, but a new blank page with no notes.

<img width="400" alt="d" src="https://user-images.githubusercontent.com/4578474/116891309-2192b500-ac61-11eb-98da-4eeac79b7911.png">

[2021-05-08 13:27] kashyapmanu opened #94 "Support for markdown copy"
Is it possible to add an option of COPY MARKDOWN TO CLIPBOARD along with DOWNLOAD MARKDOWN FILE?

I tried to do it myself but could not understand much. I am still learning. Sorry for the inconvenience.

[2021-05-11 18:14] thomasvs commented on #92
I have the same issue.  Always opens the settings page, never the frame on the right in the same page as the video.

[2021-05-11 18:45] DiaLange commented on #92
Does anyone have a solution?

[2021-05-20 10:53] KeaganQa commented on #92
Hello,
I had the same problem and I did follow a youtube video talking on how to use Yi note, I'm not sure it's this but it worked for me.
When you go into the setting you need :

- Preset second to seek : 0  ( if you select another you need the video paused to be at the time you selected I think)

- Apply preset seconds to seek to generated URLs (URLs in generated PDF, notes sent to third party p

[2021-06-19 22:57] jarodise commented on #94
yes, would love have this feature too, copy and paste directly to note-taking tools like Obsidian or logseq.

[2021-06-19 22:58] jarodise commented on #86
yes, hotkeys for save instead of clicking would be way more efficient.

[2021-06-20 05:33] whsshw opened #95 "Allow web bookmarks to add notes,and exported to Obsidian"
Allow web bookmarks to add notes
1. Sometimes you need to record while reading a webpage after reading a webpage. Bookmark notes are a useful function
2. It would be better if it can be exported to Obsidian

[2021-07-07 16:44] #94 closed

[2021-07-15 04:38] Das2020 commented on #86
Yes please

[2021-07-16 13:05] cwendel16834 commented on #67
Still an issue July 2021

[2021-07-28 13:25] #75 closed

[2021-08-16 16:38] woodywonge opened #97 "Higher quality of screenshot"
**Describe the bug**
When commenting a presentation, the quality of the screenshot is low, letters and equations have a low legibility. This is not an error, just an potential improvement.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate Note
2. Go to options page

**Expected behavior**
The screenshot should be of higher quality as one of the reasons to make a note is to save that pa

[2021-08-21 20:51] mike091020 commented on #67
Still not working on August 21, 2021.  OneNote and Evernote export both work, however.  Great little project you've done here.  Bravo.

[2021-08-24 07:08] mdpuemian opened #98 "Is it possible to add the function of sorting by creation time in the sorting of notes?"
Is it possible to add the function of sorting by creation time in the sorting of notes?

[2021-08-29 07:51] counter-attack-me2me commented on #93
you can use the bilibili official note feature
![1](https://i.imgur.com/y5IsVaL.png)
I think it is also a good choice .

[2021-08-29 08:06] counter-attack-me2me opened #99 "feature with hover & some simple shortcuts"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
        1. When I watch youtube with video theater mode or full screen, the pop window has  conflicts with the video window .
        2. I hope can add  some shortcuts to pop  up and down the note window .

**Describe the solution you'd lik

[2021-09-01 00:25] mdpuemian opened #100 "When opening yinote, the sorting will be repeated, and the order of the notes cannot be fixed"
How can I solve this problem? If possible, can it be sorted according to the recording date of the notes?

[2021-09-14 09:27] odebroqueville opened #101 "Integration of YiNote with Readwise"
**Is your feature request related to a problem? Please describe.**
Currently I'd have to previously export YiNote notes to PDF or Markdown before they could get imported in Readwise.

**Describe the solution you'd like**
It would be awesome if YiNote notes would automatically be sent to Readwise using their [API](https://readwise.io/api_deets). It would work by providing a Readwise API access toke

[2021-09-14 18:40] wenlzhang commented on #101
It would be great if this could be supported!

May I ask how do you export YiNote notes into Readwise by using PDF or Markdown? Could you elaborate on this?

[2021-09-14 20:03] odebroqueville commented on #101
On Mac, once you've exported your YiNotes to a PDF document, first highlight and annotate your PDF document using Preview, then you send the document as an attachment to add@readwise.io. Here are the steps in more detail using a video from YouTube:

1. Create your notes using YiNote whilst viewing the video:

<img width="1847" alt="Screenshot 2021-09-14 at 21 36 43" src="https://user-images.github

[2021-09-14 20:13] wenlzhang commented on #101
@odebroqueville Thanks a lot for the detailed explanation! Will try that later.

This feature request would make this entire process a lot easier.

[2021-09-19 06:53] belibug commented on #72
Came looking for this, Markdown feature already exist as mentioned by liutiming. However, its burried too deep. An Icon between github icon and gear icon would be more accessible.

Thank you for amazing extension.

[2021-09-21 18:58] crobles00 commented on #88
Same problem here. I didnt use a playlist just searched for another video and the one that its in the notes link its the first open in the tab. it appears that it needs to be the first one.

[2021-09-26 03:55] dd1512 commented on #76
I have this problem also

[2021-09-26 03:56] dd1512 commented on #67
Still not working as of 26 September. Great app btw

[2021-09-30 21:14] #84 closed

[2021-10-02 12:01] ryankhart commented on #56
Ctrl+Enter on Windows and Linux, but Command+Enter on MacOS.

[2021-10-04 01:05] KlodianXhini opened #103 "Add support for mathematical syntax via latex or similar"
Please add support for mathematical expressions, either via latex or any similar syntax framework.

[2021-10-10 11:49] mike091020 opened #104 "Move Yinote window?"
I find that Yinote often covers part of the video I am watching.  I have not found a way to resize or drat the Yinote window to another place on the screen.  I'm probaby missing something obvious so if you could give me a clue I'd appreciate it.  Thanks.

[2021-11-02 20:12] rogerdue opened #105 "Stuck on chrome"
it usually open and type the note, and hide it, now its stucked on the youtube page and can't hide it.

[2021-11-06 13:14] Volker-brdb commented on #105
can confirm this...happens for me, too
YiNote v1.7.0
Chrome Version 95.0.4638.69 (Offizieller Build) (64-Bit)

[2021-11-15 01:57] GlennOu66304 commented on #105
Yes, if the developer can fix this bug or give a solution, would be appreciated a a lot.

[2021-11-20 05:07] yuis-ice commented on #105
the same problem for me. It's on the latest brave.

[2021-11-24 09:59] gandalf34 opened #106 "Yinote window doesnt close in Chrome"
**Describe the bug**

The yinote window open on the right hand side close in firefox but doesnt close in Chrome.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on extension . Yinote will open
3. Click on the arrow > at he right hand side of the Search field.
4. Nothing happens.

**Expected behavior**
It is expected to close by sliding to the right

**Screenshots**
If applicable, add s

[2021-12-02 02:48] Orisik opened #107 "Pause video when editing note And Play when editing done"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-05 08:58] supertedde opened #108 "Support google meet recordings"
When transcribing, or more likely making notes on a google meet recording there are a few issues. When opening the video directly from drive, nothing works. When entering the video in new window, the extension appears to work for note taking, but the notes lack screenshot. Also the link back from watching a note has erroneous format.

- The extension doesn't work at all when watching the google me

[2021-12-05 09:02] supertedde commented on #85
I also struggled a bit with the instructions probably being slightly dated. This plugin carries significantly more merits than what's currently being reckognized. Great work!!! I'm not much of a developer any longer (more product mgmt focus), but may try to fix some things related to [bug 108](https://github.com/shuowu/yi-note/issues/108) which I recently added. Cheers!

[2022-01-04 03:33] hawkiboy commented on #106
Agree, this makes for a BAD experience.

[2022-02-06 05:19] MaheshCodeReader opened #110 "Keyboard shortcuts for saving. maybe (ctrl + enter)"
Keyboard shortcuts for saving. maybe (ctrl + enter)

[2022-03-19 09:28] quentin-mckay commented on #105
Same issue for me. I'm on Chrome Version 99.0.4844.74 (Official Build) (64-bit)

[2022-03-19 09:28] quentin-mckay commented on #106
Same issue for me. I'm on Chrome Version 99.0.4844.74 (Official Build) (64-bit)

[2022-03-30 08:19] rcsoul commented on #106
The same thing happens to me.

[2022-03-30 08:47] chris2052 commented on #106
Same in Brave-Browser

[2022-05-19 05:32] goxum commented on #76
Me too.

[2022-05-19 05:33] goxum commented on #94
I'd like to see this as well for the Notion note taking app. If I manually copy the text content of the downloaded .md file, thumbnails are gone by the way.

[2022-05-25 10:28] phanirithvij commented on #106
same of #105

[2022-07-03 08:06] toknow-gh commented on #93
For bilibili, page URL differs due to where you access the page from. For example, accessing from homepage recommendation results https://www.bilibili.com/video/BVXXXXXXXXX?spm_id_from=333.851.b_7265636f6d6d656e64.3&vd_source=xxxxx; while from search page results https://www.bilibili.com/video/BVXXXXXXXXX?spm_id_from=333.337.search-card.all.click&vd_source=xxxxxx.  A smarter URL matching mechanism

[2022-07-15 03:59] tokyojerry commented on #73
@shuowu, yes, I also would like to have a dark mode theme as described by @WildGenius

[2022-07-23 23:02] No2515 commented on #106
No fix yet?

[2022-07-24 02:53] TrillStones opened #112 "Click on YiNote icon again, the litter page on the right can note disapper."
**Describe the bug**
Click on YiNote icon again, the litter page on the right can note disapper.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on YiNote icon again, the litter page on the right can note disapper.

**Expected behavior**
Click on YiNote icon again, the litter page on the right can note disapper.

**Screenshots**
<img width="1718" alt="Screen Shot 2022-07-24 at 10 49 30

[2022-07-25 12:45] nikevelik commented on #106
I have the same issue

[2022-08-03 14:50] lemattma commented on #106
@shuowu I've been debugging this issue and it seems to be related to the file `packages/extension/src/ui/containers/App/styled.js` on the `transform` property:

[code]

I'll keep digging but if you know how to fix it please let me know.

[2022-08-04 09:23] lemattma commented on #105
I've created a PR fixing this issue: https://github.com/shuowu/yi-note/pull/113

[2022-08-04 09:23] lemattma commented on #106
I've created a PR fixing this issue: https://github.com/shuowu/yi-note/pull/113

[2022-09-05 03:46] hh23485 commented on #106
@shuowu can you help to review this PR and release a new version

[2022-09-05 03:50] hh23485 opened #114 "pdf text non-visiable when text exceeds one page size"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Write notes on any video
2. Leave a little bit more text on the second note
3. Export as PDF
4. Find the note is trimmed.

**Expected behavior**
wrap to another page

**Screenshots**
![image](https://user-images.githubusercontent.com/14577931/188357184-f93366e9-82ba-478b-a

[2022-09-05 08:30] No2515 commented on #106
I would love to help but I'm a total noob

On Sun, Sep 4, 2022 at 11:46 PM hh23485 ***@***.***> wrote:

[2022-10-28 16:14] Drchauhan opened #115 "The extension is not working properly in the Brave browser"
**The extension is not working properly in the Brave browser**
The tab is not sliding/closing once active. I have tried clicking on the icon and arrow button (on the left side of yi-note search bar)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the 'Yi-note extension icon' while in the youtube tab,
2. Make a note
3. try closing
4. Not able to slide in the tab

**Expected behaviour**

[2022-10-31 07:30] MicReed commented on #112
same problem, don't know how to fix it.

[2022-10-31 16:26] fkuersch commented on #115
This also affects Chrome, see #106

[2022-10-31 17:25] fkuersch opened #116 "When searching in a channel on YouTube, the page gets reloaded and the search results vanish"
**Describe the bug**
To mitigate #55, I enabled "Reload tab when url change" for "www.youtube.com". When I perform a search on a channel, the search results show up, but shortly afterwards the page gets reloaded and the search results are gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the YiNote Settings
2. Enable "Reload tab when url change"
3. Enter "www.youtube.com" in the "Al

[2022-10-31 17:30] fkuersch commented on #55
I didn't realized this issue until I got ~30 notes and was unable to find them again. At least showing a big warning on YouTube when this option is disabled, should be implemented.

Isn't there another way of getting the correct metadata for the current video on YouTube? That way, this reload workaround would not be necessary anymore.

[2022-11-03 11:47] hh23485 commented on #106
Any updates here?